.avatar{
  background-size: cover;
}

.facilitator {
  border-style: solid;
  border-width: 3px;
  border-color: #c8c416;
}

.mat-badge-content {
  bottom: -5px !important;
  right: 0px !important;
}
