<mat-list class="listStyle">
  <mat-list-item fxLayoutAlign="{{showMore ? 'right' : 'center'}}" *ngFor="let vote of participants | keyvalue">
    <div matListAvatar matTooltip={{outputTooltipInfo(vote.value)}} [matTooltipPosition]="'right'"
         [style.backgroundImage]="getVoterPhoto(vote.value)"
         class="avatar"
         [class.facilitator]="isFacilitator(vote.value)"
         matBadge="&#8288;" matBadgePosition='below after' [matBadgeColor]="getVotingStatues(vote.value)" matBadgeSize="small"></div>
    <div matLine *ngIf="showMore"><span>{{vote.value.userName}}</span></div>
  </mat-list-item>
</mat-list>
