<!--resources from: https://codepen.io/bashennekam/pen/xqbvov -->
<div  id="deck" fxLayout="row wrap" fxLayoutAlign="center center" fxLayoutGap="10px grid">
  <div class="vcard" *ngFor="let card of cards; let i = index;" fxFlex="15" fxFlex.xs="25">
    <div class="inner" (click)="onSelect($event,card)" [class.turn]="cardSelected && selectedCard !== card">
      <div fxLayout="row" fxLayoutAlign="center center" class="front primary-background-color" *ngIf="getStyleMetadata(card) as styleMetadata" [style]="$any(styleMetadata).styles">
        <div *ngIf="!$any(styleMetadata).isEmpty" class="simpleCard">{{card.title}}</div>
      </div>
      <div class="back" [style.background-image] = "getImage(-1)"></div>
    </div>
  </div>
</div>
