<div class="container">
  <div class="row justify-content-center">
    <md-card class="col-lg-3 col-md-3 col-sm-3 col-xs-1" *ngFor="let card of cards; let i = index" (click)="onSelect(card)">
      <md-card-header class="justify-content-center">{{card.title}}</md-card-header>
    </md-card>
  </div>


  <div class="row justify-content-center mt-5">
    <md-card *ngIf="selectedCard" class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
      <md-card-header class="justify-content-center">
        <div>{{selectedCard.title | uppercase}}</div>
      </md-card-header>
      <md-card-actions>
        <button md-button class="mx-auto d-flex p-2" (click)="onCheck()"><md-icon>check</md-icon></button>
      </md-card-actions>
    </md-card>
  </div>
</div>
