<mat-toolbar class="toolbar" color="primary">
  <a mat-button class="toolbar-button" routerLink="/" routerLinkActive="inactive"><span class="title">eXtimater</span></a>
  <span class="flexing"> </span>
  <a *ngIf=isLoggedIn mat-button class="toolbar-button" routerLink="/create-room" routerLinkActive="inactive">Create Room</a>

  <button mat-icon-button class="no-focus-button login-button mat-elevation-z5" (click)="logIn()" [matMenuTriggerFor]=" isLoggedIn ? menu : null">
    <img class="user-profile-image" [src]="profileImageUrl">
  </button>

</mat-toolbar>

<mat-menu #menu="matMenu">
  <button class="no-focus-button" mat-menu-item (click)="logOut()" >
    <mat-icon>exit_to_app</mat-icon>
    <span>Logout</span>
  </button>
</mat-menu>
