.toolbar {
  display: flex;
}

.title {
  flex: 1;
}
.title:hover {
  cursor: pointer
}

.icon-toolbar {
  background-color: inherit;
}

.icon-toolbar:visited {
  text-decoration: inherit;
  color: inherit;
  cursor: pointer;
}

.icon-toolbar:hover {
  background-color: #4f5453;
  cursor: pointer;
}

.icon-toolbar:link {
  text-decoration: inherit;
  color: inherit;
  cursor: pointer;
}
