<mat-sidenav-container class="fixed-expand" autosize>
  <mat-sidenav #sidenav opened mode="side" position="start" class="sideNav">

    <div class="button" fxLayout="row" fxLayoutAlign="{{isExpanded ? 'start' : 'center'}}">
      <!--fxFlexOffset is used here to keep the button in place upon expanding the sidNav-->
      <button mat-mini-fab (click)="expandNav()" color="accent" fxFlexOffset="{{isExpanded ? 6 : 0}}">
        <mat-icon aria-label="Menu">menu</mat-icon>
      </button>
    </div>

    <app-voters [roomId]="roomId" [currentStory]="currentStory" [showMore]=isExpanded></app-voters>
  </mat-sidenav>

  <mat-sidenav-content fxLayout="row">
    <div fxFlexFill fxLayout="column" class="votingContainer">

      <div id="mainVotingContainer">
        <div *ngIf="votingEnabled;">
          <app-cards [roomId]="roomId" [currentStory]="currentStory"></app-cards>
        </div>

        <div *ngIf="votingEnabled === false" fxFlexFill>
          <app-voting-result [roomId]="roomId" [currentStory]="currentStory"></app-voting-result>
        </div>
      </div>

      <div fxLayout="row" fxLayoutAlign="center">
        <mat-button-toggle (change)="votingEnabler()">{{votingButton}}</mat-button-toggle>
      </div>
    </div>
  </mat-sidenav-content>

</mat-sidenav-container>
