<mat-sidenav-container class="fixed-expand" autosize>
  <mat-sidenav opened mode="side" position="end">
    <button mat-mini-fab (click)="isExpanded = !isExpanded" color="accent" style="margin: 10px;">
      <mat-icon aria-label="Menu">menu</mat-icon>
    </button>

    <app-voters [roomId]="roomId" [currentStory]="currentStory" [showMore]=isExpanded></app-voters>
  </mat-sidenav>

  <!--  <mat-sidenav-container class="fixed-expand">-->
  <!--    <mat-sidenav opened mode="side" position="start">-->
  <!--      <app-room-stories [roomId]="roomId"></app-room-stories>-->
  <!--    </mat-sidenav>-->

  <mat-sidenav-content fxLayout="row">
    <div fxFlexFill fxLayout="column" class="background-color-v10 votingContainer border-left border-right">

      <div>
        <div *ngIf="votingEnabled; else votingDisabled">
          <app-cards [roomId]="roomId" [currentStory]="currentStory"></app-cards>
        </div>

        <ng-template #votingDisabled>

        </ng-template>
      </div>

      <div fxLayout="row" fxLayoutAlign="center">
        <mat-button-toggle color="accent" (change)="votingEnabler()">{{votingButton}}</mat-button-toggle>
      </div>
    </div>
  </mat-sidenav-content>

</mat-sidenav-container>
