// Import material theming functions
@import '../../node_modules/@angular/material/theming';


$primaryPalette: mat-palette($mat-teal);
$accentPalette: mat-palette($mat-pink);

// the default warn palette is red, so use that if the theme doesn't define one
$warnPalette: mat-palette($mat-red);

// re-define the indigo-pink theme
$greenBlueGreyLightTheme: mat-light-theme($primaryPalette, $accentPalette, $warnPalette);
$greenBlueGreyDarkTheme: mat-dark-theme($primaryPalette, $accentPalette, $warnPalette);
