@import "./pink-bluegrey";
@import "./teal-pink";

$theme: $greenBlueGreyDarkTheme;


// Copy the palettes from your selected theme (usually theme.scss).
$app-primary: map-get($theme, primary);
$app-accent: map-get($theme, accent);
$app-warn: map-get($theme, warn);
$app-background: map-get($theme, background);

// Create your Sass color vars (will be available in all the project)
$primary: mat-color($app-primary);
$accent: mat-color($app-accent);
$warn: mat-color($app-warn);

// helper methods
@function primary($hue: default) {
  @return mat-color($app-primary, $hue);
}

@function accent($hue: default) {
  @return mat-color($app-accent, $hue);
}

@function warn($hue: default) {
  @return mat-color($app-warn, $hue);
}

@function getBackgroundColor($backgroundPalette: $app-background) {
  @return map-get($backgroundPalette, background);
}

@function reverseBackground($percentage: 0%) {
  @if map-get($theme, is-dark) {
    @return lighten(getBackgroundColor(), $percentage);
  } @else {
    @return darken(getBackgroundColor(), $percentage);
  }
}

@function background($percentage: 0%) {
  @if map-get($theme, is-dark) {
    @return darken(getBackgroundColor(), $percentage);
  } @else {
    @return lighten(getBackgroundColor(), $percentage);
  }
}

$darker: darken(getBackgroundColor($mat-dark-theme-background), 10%);
$darkerTraspenecy: transparentize($darker, 0.3);

//mixins
@mixin background-color-theming($theme) {
  .background-color-v10 {
    background-color: reverseBackground(10%) !important;
  }

  .background-color-v0 {
    background-color: reverseBackground(0%);
  }

  .background-color-darker {
    background-color: $darkerTraspenecy;
  }

  .primary-background-color {
    background-color: primary();
  }

  :root {
    --backgroundColor: #{reverseBackground()};
  }
}


@mixin foreground-color-theming($theme) {
  $foreground: map-get($theme, foreground);

  .foreground-color-theme {
    color: mat-color($foreground, text) !important;

  }
}

@mixin mat-sidnav-theming($theme) {
  .mat-drawer-backdrop.mat-drawer-shown {

    background-color: $darkerTraspenecy !important;
  }
}

@mixin mat-button-toggle-theming($theme) {

  .mat-button-toggle {
    background-color: primary() !important;
  }

  .mat-button-toggle-checked {
    background-color: accent() !important;;
  }
}

@mixin mat-button-theming($theme) {

  .mat-button.mat-button-hover-theme:hover {
    background-color: reverseBackground(30%) !important;
  }
}

@mixin mat-input-theming($theme) {
  .mat-input-element {
    color: mat-color($app-primary, text) !important;
  }
}

@mixin theme($theme) {
  @include background-color-theming($theme);
  @include foreground-color-theming($theme);
  @include mat-sidnav-theming($theme);
  @include mat-button-toggle-theming($theme);
  @include mat-button-theming($theme);
  @include mat-input-theming($theme);
}

//include
@include theme($theme);
@include angular-material-theme($theme);
