<h1>
  {{title}}
</h1>

<body>
  <div>
    <app-card cardNumber="0"></app-card>
    <app-card cardNumber="0.5"></app-card>
    <app-card cardNumber="1"></app-card>
    <app-card cardNumber="2"></app-card>
    <app-card cardNumber="3"></app-card>
    <app-card cardNumber="5"></app-card>
    <app-card cardNumber="8"></app-card>
    <app-card cardNumber="13"></app-card>
    <app-card cardNumber="20"></app-card>
    <app-card cardNumber="40"></app-card>
    <app-card cardNumber="100"></app-card>
    <app-card cardNumber="infinity"></app-card>
    <app-card cardNumber="coffee Break"></app-card>
    <app-card cardNumber="?"></app-card>
  </div>
</body>
