.example-icon {
  padding: 0 14px;
}

.example-icon:visited {
    text-decoration: inherit;
    color: inherit;
    cursor: auto;
}

.example-icon:link {
    text-decoration: inherit;
    color: inherit;
    cursor: auto;
}

.title-spacer {
  flex: 1 1 auto;
}

.title:hover {
cursor:pointer
}

md-toolbar {
  background-color: #309c5b;
}

.router {
  height:100%;
  background-color: inherit;
}
