.loginTitle {
  font-size: 3vh;
  text-align: center;
}

.signInButton {
  width: 215px;
  line-height: normal !important;
  text-align: left;
}

.signInLogo {
  max-width: 2em;
  max-height: 3em;
  margin-right: 15px
}
