.loginTitle {
  text-align: center;
}

.signInButton {
  width: 215px;
  line-height: normal !important;
  text-align: left;
}

.signInLogo {
  max-width: 2em;
  max-height: 3em;
  margin-right: 15px
}



.center {
  position: absolute;
  top: 50%;
  left: 50%;
  -moz-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  z-index: 100;
}

.overlay{
  z-index:    10;
  top:        0;
  left:       0;
  position:   fixed;
}

.gender-radio-group {
  //display: flex; flex-direction: row;
  ///* display: inline-grid; */
  /* display: grid; */
}
.mat-radio-button {
  margin: 0 12px;
}
