/* You can add global styles to this file, and also import other style files */
@import "forms.scss";

@import '~@angular/material/theming';
@import "theme/theme";



// always include only once per project
@include mat-core();

html,body{
    height: 100%
}

body {
  margin: 0;
}

.fixed-expand {
  position: fixed;
  height: 100%;
  min-height: 100%;
  width: 100%;
  min-width: 100%;
}

.no-focus-button:focus {
  outline: none;
}
